<h1>Edit <%= @farm.name %></h1>

<%= render partial: 'form', locals: { path: "/farms/#{@farm.id}",
                                      method: :patch,
                                      button_text: "Update Farm" } %>