<h1>Edit <%= @farmer.name %></h1>

<%= render partial: 'form', locals: { path: "/farmers/#{@farmer.id}",
                                      method: :patch,
                                      button_text: "Update Farmer" } %>