<h1>Farmers</h1>

<% @farmers.each do |farmer| %>
<div id="farmer-<%= farmer.id %>">
  <p><%= farmer.name %> - created at: <%= farmer.created_at %>
</div>
<% end %>

<%= link_to "Create New Farmer", '/farmers/new' %>
