<h1>New Farmer</h1>

<%= render partial: 'form', locals: { path: "/farmers",
                                      method: :post,
                                      button_text: "Create Farmer" } %>